<main>
    <h1>Welcome to Doner Place!</h1>
    <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and lamb and any topping you want. Place your order now!</p>
    <div class="products">
        {{#if isAdmin}}
            <h2>Admin</h2>
				<div class="product-card">
					<img src="/img/new.png">
					<a href="/products/create" class="button product-title">Create Product</a>
				</div>
        {{/if}}
        {{#if allProducts.chicken}}
            <h2>Chicken Doner</h2>
            {{#each allProducts.chicken}}
                <div class="product-card">
                    <img src="{{this.imageUrl}}">
                    {{#if ../isAdmin}}
                        <a href="/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
					    <a href="/products/delete/{{this._id}}" class="control"><img class="control-img" src="/img/delete.png"></a>
                    {{else}}
                        <a href="/order/customize/{{this._id}}" class="button product-title">Order</a>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
        {{#if allProducts.beef}}
            <h2>Beef Doner</h2>
            {{#each allProducts.beef}}
                <div class="product-card">
                    <img src="{{this.imageUrl}}">
                    {{#if ../isAdmin}}
                        <a href="/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
					    <a href="/products/delete/{{this._id}}" class="control"><img class="control-img" src="/img/delete.png"></a>
                    {{else}}
                        <a href="/order/customize/{{this._id}}" class="button product-title">Order</a>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
        {{#if allProducts.lamb}}
            <h2>Lamb Doner</h2>
            {{#each allProducts.lamb}}
                <div class="product-card">
                    <img src="{{this.imageUrl}}">
                    {{#if ../isAdmin}}
                        <a href="/products/edit/{{this._id}}" class="control"><img class="control-img" src="/img/edit.png"></a>
					    <a href="/products/delete/{{this._id}}" class="control"><img class="control-img" src="/img/delete.png"></a>
                    {{else}}
                        <a href="/order/customize/{{this._id}}" class="button product-title">Order</a>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</main>